.projects {
  padding: 50px 20px;
  background-color: #fff;
  text-align: -webkit-center;

  h2 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 2rem;
    color: #171725;
  }

  .projects-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    justify-items: center;
    width: 80%;
    max-width: 1000px;

    &.projects-list-open {
      display: block;
    }

    .project-item {
      text-align: center;
      padding: 20px;
      border: 1px solid #171725;
      transition: transform 0.5s ease;
      background-color: rgb(248, 248, 248);
      cursor: pointer;

      &.open {
        background-color: rgb(255, 255, 255);
        border: 3px solid #171725;
        grid-column: span 3;
            }
            &.hidden {
              display: none;
            }

      img {
        height: 30px;
        filter: grayscale(100%);
        object-fit: cover;
      }


      .project-details {

        h3 {
          display: none;
        }

        p {
          color: #666;
          margin: 5px;
        }

        .technologies {
          display: flex;
          justify-content: center;
          margin-top: 10px;

          img {
            max-width: 30px;
            margin-right: 10px;
          }
        }
      }

      &:hover {
        img {
          filter: grayscale(0%); 
        }
      }
    }
  }
}

.project {
  margin: 20px;
}

.technologies {
  display: flex;
  justify-content: center;
}

.technologies img {
  margin: 0 5px;
}

.project-item:hover {
  box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
  transform: scale(1.05);
}


@media screen and (max-aspect-ratio: 10/9) {
  .projects .projects-list {
    display: block;
  }
}


.project-item .back-arrow {
  position: absolute;
  top: 10px;
  left: 10px;
  cursor: pointer;
  font-size: 20px; // Ajustez la taille du caractère selon vos besoins
  color: #000; 
}

.fa-list-check, .fa-reply {
  color: #11E397;
  margin-right: 5px;
}

.step {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 5px;

  p {
    margin-bottom: 10px;
    color: #333;
  }

  &:not(:last-child) {
    margin-bottom: 20px; /* Ajout de marge en bas sauf pour la dernière étape */
  }
}

.text-collapse {
font-size: 0.8em;
padding: 20px;
}

@media screen and (max-width: 720px) {
  .text-collapse {
    padding: 0px;
    }
    .step {
      margin: 0;
      padding: 10px 5px;
    }

}
.fa-github, .fa-eye {
  padding: 20px;
  color: #171725;
}

.fa-github:hover, .fa-eye:hover {
  color: #11E397;
}